.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px !important;
    column-gap: 8px;
    position: relative;
    z-index: 2;

    @media(max-width: 800px) {
        flex-wrap: wrap;
        row-gap: 24px;
    }

    &_logo {
        height: 70px;

        @media(max-width: 800px) {
            order: 1;
            height: 50px;
        }

        @media(max-width: 500px) {
            height: 32px;
        }

        img {
            width: 70px;
            height: 70px;

            @media(max-width: 800px) {
                width: 50px;
                height: 50px;
            }

            @media(max-width: 500px) {
                width: 32px;
                height: 32px;
            }

        }
    }

    &_links {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        @media(max-width: 800px) {
            order: 3;
            width: 100%;
        }

        &_element {
            font-size: 14px;
            font-weight: 600;
        }
    }

    &_media {
        display: flex;
        align-items: center;
        column-gap: 15px;

        @media(max-width: 800px) {
            justify-content: center;
            order: 2;
            column-gap: 8px;
        }

        &_element {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: #fff;

            @media(max-width: 500px) {
                width: 32px;
                height: 32px;
            }

            img {
                width: 26px;
                height: 26px;

                @media(max-width: 500px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

    &_connect {
        border-radius: 10px;
        height: 45px;
        padding: 0px 24px;
        font-weight: 800;
        background: #00C16B;
        color: #fff;
        font-size: 14px;

        @media(max-width: 500px) {
            height: 32px;
            font-size: 10px;
            font-weight: 700;
            padding: 0px 12px;
        }
    }
}